1. What are data structures, and why are they important?
ans A data structure is a way of organizing and storing data in a computer, allowing for efficient access and modification.Data structures allow programs to run faster and use less memory by choosing the right way to arrange and manage data.

2. Explain the difference between mutable and immutable data types with examples.
ans Mutable data types can be changed after creation, while immutable data types cannot be altered once set.

Immutable data types cannot be changed once created; any modification creates a new object.

Examples in Python: strings, tuples, integers.

Example:

python
my_string = "Hello"
my_string = my_string + " World"  # Creates a new string object.
Mutable data types allow modifications to their contents after they are created.

Examples in Python: lists, dictionaries, and sets.

Example:

python
my_list = [1, 2, 3]
my_list.append(4)  # Now my_list is [1, 2, 3, 4]

3. What are the main differences between lists and tuples in Python?
ans lists is mutable while tuples are immutable.

4. Describe how dictionaries store data?
ans. Dictionaries store data by organizing key-value pairs using a hash table. Every key is processed through a hash function to produce a hash value, which determines the index where the corresponding value is stored in an internal array.

5. Why might you use a set instead of a list in Python?
ans. A set is often used instead of a list in Python when uniqueness and fast membership testing are required, as sets automatically eliminate duplicates .

6. What is a string in Python, and how is it different from a list?
ans. A string in Python is an immutable sequence of characters, used to represent text such as words, sentences, or symbols. It is defined by enclosing characters in single, double, or triple quotes.

A list, by contrast, is a mutable sequence capable of storing elements of any data type, including numbers, strings, or even other lists. Lists are defined with square brackets and can be modified after creation by adding, removing, or changing.

7. How do tuples ensure data integrity in Python?
ans. Tuples ensure data integrity in Python by being immutable, meaning their contents cannot be changed after creation.

8. What is a hash table, and how does it relate to dictionaries in Python?
ans. A hash table is a data structure that stores key-value pairs by mapping each key to an index in an underlying array using a hash function. It provides fast insertion, deletion, and retrieval operations, generally with an average time complexity.

Relationship to Python Dictionaries
Python dictionaries are built on hash tables and use them internally for data storage.

9. Can lists contain different data types in Python?
ans. Yes, lists in Python can contain different data types simultaneously. Python lists are heterogeneous, allowing elements like integers, strings, floats, other lists, tuples, and even custom objects to coexist in the same list.

10. Explain why strings are immutable in Python?
ans. Strings are immutable in Python, meaning once a string is created, it cannot be changed or modified. This immutability provides several important in python.

11. What advantages do dictionaries offer over lists for certain tasks?
ans. Dictionaries offer several advantages over lists for certain tasks, mainly due to their underlying data structure and access patterns:

Advantages of Dictionaries over Lists
Fast Lookups by Key: Dictionaries provide average
 time complexity for searching, thanks to hash table implementation, allowing instant access to values by unique keys. Lists require time for searching by value or index, which is slower for large datasets.

Key-Value Pair Storage: Unlike lists that store only values accessed by numeric index, dictionaries store data as key-value pairs, allowing more meaningful indexing by unique keys like names, IDs, or other identifiers. This is useful for scenarios like storing user profiles or configuration data.

12. Describe a scenario where using a tuple would be preferable over a lis?
ans. A scenario where using a tuple would be preferable over a list is when the data needs to remain constant and unchangeable throughout the program's execution. For example, storing fixed information like a person's birthdate or geographic coordinates, where changes should be prevented to maintain data integrity, makes tuples a better choice due to their immutability.

13. How do sets handle duplicate values in Python?
ans. In Python, sets handle duplicate values by automatically discarding them, so only one occurrence of each unique item is stored in the set. When a duplicate value is added to a set, Python recognizes that the value already exists and ignores the new addition, ensuring all elements remain unique.

14. How does the “in” keyword work differently for lists and dictionaries?
ans. For Lists
The "in" keyword checks if a value exists anywhere in the list by scanning elements one-by-one from start to end.
For Dictionaries
The "in" keyword checks if a key exists in the dictionary, not the values.

15. Can you modify the elements of a tuple? Explain why or why not.
ans. No, you cannot modify the elements of a tuple in Python. Tuples are immutable, which means once a tuple is created, its elements cannot be changed, added, or removed. Attempting to assign a new value to an element of a tuple results in a TypeError, as tuples do not support item assignment.

16. What is a nested dictionary, and give an example of its use case?
ans. A nested dictionary in Python is a dictionary that contains another dictionary as its value. Essentially, it’s a dictionary within a dictionary, which allows for hierarchical or multi-level data organization.

Example of a Nested Dictionary
python
students = {
    'student1': {'name': 'Drake', 'age': 20, 'grade': 'A'},
    'student2': {'name': 'Travis', 'age': 22, 'grade': 'B'},
    'student3': {'name': 'Charlie', 'age': 21, 'grade': 'A+'}
}
print(students)

17. Describe the time complexity of accessing elements in a dictionary?
ans. The time complexity of accessing elements in a Python dictionary is on average O(1), which means it takes constant time regardless of the size of the dictionary.

18. In what situations are lists preferred over dictionaries?
ans. Lists (nested lists) are commonly used to represent matrices or grids, something dictionaries are less suited for.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
ans. Dictionaries were traditionally considered unordered because, before Python 3.6, they did not preserve the order of key-value pairs when iterated or viewed. This meant that the order of items in a dictionary was arbitrary and could vary, making the retrieval of data independent of the order in which it was added.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
ans. lists offer efficient position-based access but slower value searches, while dictionaries provide fast access and search by keys, making them ideal for mapping unique identifiers to values.The primary difference between a list and a dictionary in terms of data retrieval lies in how elements are accessed and the efficiency of the retrieval operation.

List: Elements in a list are accessed by their numeric index (position), which provides constant time access O(1). However, searching for an element by value in a list takes linear time
O(n) because the list is scanned sequentially.

Dictionary: Elements are accessed by unique keys rather than indices. Dictionaries use a hash table internally, allowing average constant time
lookup by key. Searching by key is very fast regardless of the size of the dictionary, unlike lists where search time grows with list length.

In [1]:
#Write a code to create a string with your name and print it
name = "aniruddh"
print(name)

aniruddh

In [2]:
#Write a code to find the length of the string "Hello World".
str1 = "hello world"
len(str1)

11

In [5]:
#Write a code to slice the first 3 characters from the string "Python Programming"
str2 = "python programming"
str2[0:3]

'pyt'

In [6]:
#Write a code to convert the string "hello" to uppercase
str1 = "hello"
str1.upper()

'HELLO'

In [7]:
#Write a code to replace the word "apple" with "orange" in the string "I like apple"
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

In [8]:
#Write a code to create a list with numbers 1 to 5 and print it
number = list(range(1,6))
print(number)

[1, 2, 3, 4, 5]

In [10]:
#Write a code to append the number 10 to the list [1, 2, 3, 4]
lst = [1,2,3,4]
lst.append(10)
lst

[1, 2, 3, 4, 10]

In [11]:
#Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
lst = [1,2,3,4,5]
lst.remove(3)
lst

[1, 2, 4, 5]

In [12]:
#Write a code to access the second element in the list ['a', 'b', 'c', 'd']
lst= ['a','b','c','d']
lst[1]

'b'

In [13]:
#Write a code to reverse the list [10, 20, 30, 40, 50].
lst = [10,20,30,40,50]
lst[ : :-1]

[50, 40, 30, 20, 10]

In [14]:
#Write a code to create a tuple with the elements 100, 200, 300 and print it.
my_tuple = (100,200,300)
print(my_tuple)

(100, 200, 300)

In [16]:
# Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
my_tuple = ('red','green','blue','yellow')
my_tuple[1:]

('green', 'blue', 'yellow')

In [19]:
#Write a code to find the minimum number in the tuple (10, 20, 5, 15).
my_tuple = (10,20,5,15)
min(my_tuple)

5

In [21]:
# Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
my_tuple = ('dog', 'cat', 'rabbit')
my_tuple.index('cat')

1

In [22]:
# Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
my_tuple = ('apple','orange','kiwi')
'kiwi' in my_tuple

True

In [28]:
# Write a code to create a set with the elements 'a', 'b', 'c' and print it.
ele = {'a','b','c'}
print(ele)

{'b', 'c', 'a'}

In [30]:
#Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
ele = {1,2,3,4,5}
ele.clear()
ele

set()

In [32]:
#Write a code to remove the element 4 from the set {1, 2, 3, 4}.
ele = {1,2,3,4}
ele.remove(4)
ele

{1, 2, 3}

In [33]:
#Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1,2,3}
set2 = {3,4,5}
set1 | set2

{1, 2, 3, 4, 5}

In [34]:
#Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1,2,3}
set2 = {2,3,4}
set1 & set2

{2, 3}

In [35]:
#Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
my_dict = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}
print(my_dict)

{'name': 'Alice', 'age': 30, 'city': 'New York'}

In [38]:
# Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
my_dict = {'name':'john','age':25}
my_dict['country'] = 'USA'
my_dict

{'name': 'john', 'age': 25, 'country': 'USA'}

In [42]:
# Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
my_dict = {'name': 'Alice', 'age': 30}
my_dict['name']

'Alice'

In [43]:
# Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York}
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [44]:
#Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
my_dict = {'name': 'Alice', 'city': 'Paris'}
'city' in my_dict

True

In [45]:
#Write a code to create a list, a tuple, and a dictionary, and print them all.
# Create a list
my_list = ['apple', 'banana', 'cherry']

# Create a tuple
my_tuple = (100, 200, 300)

# Create a dictionary
my_dict = {"name": "Alice", "age": 30, "city": "New York"}

# Print all
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: ['apple', 'banana', 'cherry']
Tuple: (100, 200, 300)
Dictionary: {'name': 'Alice', 'age': 30, 'city': 'New York'}

In [46]:
#Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result(replaced)
import random

# Generate a list of 5 random numbers between 1 and 100
random_numbers = random.sample(range(1, 101), 5)

# Sort the list in ascending order
random_numbers.sort()

# Print the sorted list
print(random_numbers)

[52, 76, 91, 92, 93]

In [47]:
#Write a code to create a list with strings and print the element at the third index.
# Create a list of strings
my_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']

# Access and print the element at the third index
print(my_list[3])

date

In [50]:
#Write a code to combine two dictionaries into one and print the result.
dict1 = {'name': 'John', 'age': 25}
dict2 = {'city': 'New York', 'country': 'USA'}
dict1.update(dict2)
dict1

{'name': 'John', 'age': 25, 'city': 'New York', 'country': 'USA'}

In [51]:
#Write a code to convert a list of strings into a set
my_list = ['apple', 'banana', 'apple', 'cherry', 'banana']
my_set = set(my_list)
print(my_set)

{'banana', 'apple', 'cherry'}